/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0dc0c3;
}

.container {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
    margin: 20px auto;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 2em;
    cursor: pointer;
}

#restartButton {
    margin-top: 40px;
    padding: 20px 40px;
    font-size: 1em;
    cursor: pointer;
}

#message {
    margin-top: 20px;
    font-size: 1.2em;
}
